@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-taforomhighlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
/**
 * Correct cursors for clickable elements.
 */
button {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

button,
[type=button],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Instrument Serif", serif, "Noto Serif JP", serif;
  scroll-behavior: smooth;
  scroll-padding: 100px;
  color: #646361;
}

img {
  width: 100%;
  vertical-align: bottom;
}

/*--------------------
breakpoint
--------------------*/
.sp-only {
  display: inline;
}
@media (min-width: 1024px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: inline;
}
@media (max-width: 1023px) {
  .pc-only {
    display: none;
  }
}

/*--------------------
font
--------------------*/
/*--------------------
style
--------------------*/
/*--------------------
hover
--------------------*/
.l-header {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: clamp(80px, 12.5vw, 180px);
  margin-bottom: clamp(60px, 12.5vw, 180px);
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.l-header__logo {
  max-width: clamp(40px, 4.1666666667vw, 60px);
  width: 100%;
}
.l-header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.l-header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(16px, 2.2222222222vw, 32px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-header__list-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.l-header__link {
  color: #fff;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 500;
  letter-spacing: calc(32 / 1000 * 1em);
  line-height: normal;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
@media (hover: hover) {
  .l-header__link:hover {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.l-header__hamburger {
  position: relative;
  z-index: 100;
}
.l-header__hamburger span {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-header__hamburger::before, .l-header__hamburger::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.l-header__hamburger::before {
  top: -10px;
}
.l-header__hamburger::after {
  bottom: -10px;
}

.l-header__sp-nav {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  margin: 0 auto;
  max-width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #f5eece;
}

.l-header__sp-link {
  font-size: clamp(24px, 1.6666666667vw, 24px);
  font-weight: 700;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: normal;
}

.is-open-hamburger {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.is-open-hamburger span {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.is-open-hamburger::before, .is-open-hamburger::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.is-open-hamburger::before {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: 0;
}
.is-open-hamburger::after {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  bottom: 0;
}

.is-open-nav {
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-past-kv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: -1;
}
@media (max-width: 1023px) {
  .is-past-kv::after {
    display: none;
  }
}
.is-past-kv a {
  color: #646361;
}
.is-past-kv .l-header__hamburger span,
.is-past-kv .l-header__hamburger::before,
.is-past-kv .l-header__hamburger::after {
  background: #646361;
}

.l-footer {
  padding-top: clamp(20px, 1.3888888889vw, 20px);
  padding-bottom: clamp(20px, 1.3888888889vw, 20px);
}

.l-footer__copy {
  font-size: clamp(16px, 1.1111111111vw, 16px);
  font-weight: 500;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: normal;
  text-align: center;
}

/* KV */
@-webkit-keyframes floaty {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  12% {
    -webkit-transform: translate(-300px, 200px) rotate(0.4deg);
            transform: translate(-300px, 200px) rotate(0.4deg);
  }
  25% {
    -webkit-transform: translate(400px, -100px) rotate(-0.6deg);
            transform: translate(400px, -100px) rotate(-0.6deg);
  }
  38% {
    -webkit-transform: translate(-200px, -300px) rotate(1deg);
            transform: translate(-200px, -300px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(100px, 0px) rotate(-0.2deg);
            transform: translate(100px, 0px) rotate(-0.2deg);
  }
  63% {
    -webkit-transform: translate(-400px, 300px) rotate(0.8deg);
            transform: translate(-400px, 300px) rotate(0.8deg);
  }
  75% {
    -webkit-transform: translate(300px, -200px) rotate(-0.9deg);
            transform: translate(300px, -200px) rotate(-0.9deg);
  }
  88% {
    -webkit-transform: translate(-100px, 100px) rotate(0.3deg);
            transform: translate(-100px, 100px) rotate(0.3deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes floaty {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  12% {
    -webkit-transform: translate(-300px, 200px) rotate(0.4deg);
            transform: translate(-300px, 200px) rotate(0.4deg);
  }
  25% {
    -webkit-transform: translate(400px, -100px) rotate(-0.6deg);
            transform: translate(400px, -100px) rotate(-0.6deg);
  }
  38% {
    -webkit-transform: translate(-200px, -300px) rotate(1deg);
            transform: translate(-200px, -300px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(100px, 0px) rotate(-0.2deg);
            transform: translate(100px, 0px) rotate(-0.2deg);
  }
  63% {
    -webkit-transform: translate(-400px, 300px) rotate(0.8deg);
            transform: translate(-400px, 300px) rotate(0.8deg);
  }
  75% {
    -webkit-transform: translate(300px, -200px) rotate(-0.9deg);
            transform: translate(300px, -200px) rotate(-0.9deg);
  }
  88% {
    -webkit-transform: translate(-100px, 100px) rotate(0.3deg);
            transform: translate(-100px, 100px) rotate(0.3deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
/* ローディングアニメーション */
@-webkit-keyframes sk-scaleout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sk-scaleout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ローディング画面 */
.c-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffdee4;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 100;
}

.spinner {
  width: 100px;
  height: 100px;
  -webkit-animation: sk-scaleout 1s ease-in-out;
          animation: sk-scaleout 1s ease-in-out;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.c-title {
  color: #ba9ea6;
  text-align: center;
  margin-bottom: 40px;
  font-size: clamp(24px, 2.9166666667vw, 42px);
  font-weight: 400;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: normal;
}

.p-kv {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #efd8d5;
  overflow: hidden;
}
.p-kv__title {
  position: absolute;
  bottom: 30px;
  left: 10%;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  font-size: clamp(40px, 5.5555555556vw, 80px);
  font-weight: 400;
  letter-spacing: calc(42 / 1000 * 1em);
  line-height: normal;
  text-shadow: 3px 2px 20px #efd8d5;
  z-index: 1;
}
.p-kv__decoration {
  position: absolute;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#e3fdf5), to(#ffe6fa));
  background: -webkit-linear-gradient(left, #e3fdf5, #ffe6fa);
  background: linear-gradient(to right, #e3fdf5, #ffe6fa);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 100%;
}
.p-kv__decoration:nth-of-type(1) {
  width: 600px;
  height: 600px;
  top: 0;
  -webkit-animation: floaty 60s infinite;
          animation: floaty 60s infinite;
}
.p-kv__decoration:nth-of-type(2) {
  width: 431px;
  height: 431px;
  right: 10%;
  bottom: 0;
  -webkit-animation: floaty 120s -80s infinite;
          animation: floaty 120s -80s infinite;
}

.p-about {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: clamp(80px, 12.5vw, 180px);
  margin-bottom: clamp(60px, 12.5vw, 180px);
  padding-right: 20px;
  padding-left: 20px;
}
.p-about__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .p-about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-about__img {
  position: relative;
  width: 100%;
  max-width: 320px;
}
.p-about__img::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 30px;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f5eece;
}
.p-about__content {
  width: 100%;
  max-width: 357px;
}
@media (max-width: 1023px) {
  .p-about__content {
    margin-top: 40px;
  }
}
.p-about__name {
  width: 100%;
  font-size: clamp(20px, 1.8055555556vw, 26px);
  font-weight: 400;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: 1.6;
}
.p-about__text {
  width: 100%;
  margin-top: 16px;
  font-size: clamp(16px, 1.1111111111vw, 16px);
  font-weight: 400;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: 1.6;
}

.p-skill {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: clamp(80px, 12.5vw, 180px);
  margin-bottom: clamp(60px, 12.5vw, 180px);
  padding-right: 20px;
  padding-left: 20px;
}
.p-skill__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(100px, 8.3333333333vw, 120px), 1fr));
  gap: clamp(30px, 4.8611111111vw, 70px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-skill__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  width: 100%;
  text-align: center;
}
.p-skill__img {
  width: 100%;
  max-width: 120px;
  margin-bottom: 16px;
}
.p-skill__text {
  font-size: clamp(16px, 1.1111111111vw, 16px);
  font-weight: 400;
  letter-spacing: calc(0 / 1000 * 1em);
  line-height: normal;
}

.p-works {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: clamp(80px, 12.5vw, 180px);
  margin-bottom: clamp(60px, 12.5vw, 180px);
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Noto Serif JP", serif;
}
.p-works__list {
  display: grid;
  gap: 5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-works__list-item {
  font-size: clamp(16px, 1.1111111111vw, 16px);
  font-weight: 400;
  letter-spacing: calc(1.75 / 1000 * 1em);
  line-height: normal;
}
.p-works__sub {
  display: grid;
  gap: 5px;
}
.p-works__sub-item {
  font-size: clamp(12px, 0.8333333333vw, 12px);
  font-weight: 400;
  letter-spacing: calc(1.75 / 1000 * 1em);
  line-height: normal;
}
.p-works__content {
  margin-top: 60px;
}
.p-works__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.p-works__text {
  margin-top: 80px;
  text-align: center;
  font-size: clamp(18px, 1.3888888889vw, 20px);
  font-weight: 400;
  letter-spacing: calc(32 / 1000 * 1em);
  line-height: normal;
}

.l-footer__copy {
  display: block;
  text-align: center;
}

.c-fade {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity var(--dur, 0.6s) var(--easing, ease), -webkit-transform var(--dur, 0.6s) var(--easing, ease);
  transition: opacity var(--dur, 0.6s) var(--easing, ease), -webkit-transform var(--dur, 0.6s) var(--easing, ease);
  transition: opacity var(--dur, 0.6s) var(--easing, ease), transform var(--dur, 0.6s) var(--easing, ease);
  transition: opacity var(--dur, 0.6s) var(--easing, ease), transform var(--dur, 0.6s) var(--easing, ease), -webkit-transform var(--dur, 0.6s) var(--easing, ease);
  -webkit-transition-delay: var(--delay, 0s);
          transition-delay: var(--delay, 0s);
  will-change: opacity, transform;
}

/* 画面内に入ったら付与される */
.is-inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=map/style.css.map */