@use "global" as *;

.c-border-blue {
  display: block;
  border-bottom: 3px solid $c-main;
}

.c-blue-bg {
  position: relative;
  margin-top: getVwBase(80, 60, $pc);
  background: $c-main;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: getVwBase(200, 150, $pc);
    background: $c-base;
    z-index: -1;
  }
}
