@use "global" as *;

.c-title-01 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: $c-base;
  @include font(34, 28, $weight: $bold, $kerning: 0, $lineheight: normal);
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: clamp(-25px, calc(-15 / 1440 * 100vw), -15px);
    right: 0;
    bottom: 0;
    left: clamp(-46px, calc(-46 / 1440 * 100vw), -25px);
    width: getVwBase(58, 40, $pc);
    height: getVwBase(60, 43, $pc);
    background: url(../../img/common/title-01-left.svg) no-repeat center / cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: clamp(-26px, calc(-15 / 1440 * 100vw), -15px);
    bottom: 0;
    width: getVwBase(36, 26, $pc);
    height: getVwBase(36, 26, $pc);
    background: url(../../img/common/title-01-right.svg) no-repeat center /
      cover;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.c-title-02 {
  position: relative;
  display: grid;
  align-items: center;
  grid:
    "left text right" 100%
    / 1fr auto 1fr;
  gap: getVwBase(24, 14, $pc);
}

.c-title-02__text {
  position: relative;
  @include font(28, 20, $weight: $bold, $kerning: 0, $lineheight: normal);
  color: $c-main;
  padding-right: getVwBase(32, 22, $pc);
  padding-left: getVwBase(32, 22, $pc);

  // タイトル横の六角形
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: getVwBase(8, 6, $pc);
    bottom: 0;
    margin: auto;
    width: getVwBase(18, 12, $pc);
    height: getVwBase(18, 12, $pc);
    background: url(../../img/common/icon_title-02.svg) no-repeat center / cover;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.c-title-02-border {
  &--left,
  &--right {
    display: block;
    width: 100%;
    height: 3px;
    background: $c-main;
    border-radius: 100px;
  }
}

.c-title-03 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: $c-main;
  @include font(34, 20, $weight: $bold, $kerning: 0, $lineheight: normal);
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: clamp(-25px, calc(-15 / 1440 * 100vw), -15px);
    right: 0;
    bottom: 0;
    left: clamp(-46px, calc(-46 / 1440 * 100vw), -25px);
    width: getVwBase(60, 40, $pc);
    height: getVwBase(63, 43, $pc);
    background: url(../../img/common/title-01-left.svg) no-repeat center / cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: clamp(-26px, calc(-15 / 1440 * 100vw), -15px);
    bottom: 0;
    width: getVwBase(36, 26, $pc);
    height: getVwBase(36, 26, $pc);
    background: url(../../img/common/title-01-right.svg) no-repeat center /
      cover;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.c-title-04 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: $c-base;
  @include font(28, 20, $weight: $bold, $kerning: 0, $lineheight: normal);
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    bottom: 0;
    left: -30px;
    width: getVwBase(60, 40, $pc);
    height: getVwBase(63, 43, $pc);
    background: url(../../img/common/title-01-left.svg) no-repeat center / cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -20px;
    bottom: 0;
    width: getVwBase(36, 26, $pc);
    height: getVwBase(36, 26, $pc);
    background: url(../../img/common/title-01-right.svg) no-repeat center /
      cover;
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.c-title-big {
  @include font(34, 26, $weight: $bold, $kerning: 0, $lineheight: normal);
  margin-left: 3px;
}
