@use "global" as *;

.l-footer {
  padding-top: getVwBase(20, 20, $pc);
  padding-bottom: getVwBase(20, 20, $pc);
}

.l-footer__copy {
  @include font(16, 16, $weight: $medium, $kerning: 0, $lineheight: normal);
  text-align: center;
}
