@use "global" as *;

.l-header {
  @include section;
  margin-bottom: 0;
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__logo {
    max-width: getVwBase(60, 40, $pc);
    width: 100%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: getVwBase(32, 16, $pc);
    transition: 0.3s;
  }

  &__list-item {
    width: fit-content;
  }

  &__link {
    color: $c-base;
    @include font(20, 16, $weight: $medium, $kerning: 32, $lineheight: normal);
    @include hover;
  }
}

// ハンバーガー
.l-header__hamburger {
  position: relative;
  z-index: 100;

  span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: $c-base;
    transition: 0.3s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: $c-base;
    transition: 0.3s;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

// SP
.l-header__sp-nav {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  margin: auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100lvh;
  transition: 0.3s;
  background: #f5eece;
}

.l-header__sp-link {
  @include font(24, 24, $weight: $bold, $kerning: 0, $lineheight: normal);
}

.is-open-hamburger {
  transition: 0.3s;

  span {
    opacity: 0;
    transition: 0.3s;
  }
  &::before,
  &::after {
    transition: 0.3s;
  }

  &::before {
    transform: rotate(25deg);
    top: 0;
  }

  &::after {
    transform: rotate(-25deg);
    bottom: 0;
  }
}

.is-open-nav {
  right: 0;
  transition: 0.3s;
}

.is-past-kv {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: -1;

    @include sp {
      display: none;
    }
  }

  a {
    color: #646361;
  }
  .l-header__hamburger span,
  .l-header__hamburger::before,
  .l-header__hamburger::after {
    background: #646361;
  }
}
